<head>
	<div>
		{% block head %}
			<link href="{{ url_for('static',filename="bootstrap-3.3.7-dist/css/bootstrap.min.css") }}" rel="stylesheet">
			<meta charset="utf-8">
			<title>Popcorn NEWS</title>
			<link rel="stylesheet" href="style.css">
		{% endblock %}
	</div>
</head>
<body>
	<script src={{ url_for('static', filename="bootstrap-3.3.7-dist/js/bootstrap.min.js") }}></script>
	<div>
		{% block content %}{% endblock %}
	</div>
	<div id="footer">
		{% block footer %}
		&copy; Copyright 2017 by <a href "https://www.shiyanlou.com/user/103601/">Popcorn</a>.
		{% endblock %}
	</div>
</body>