{% extends "base.html" %}
{% block nav %}
  <li role="presentation"><a href={{ url_for('index') }}>首页</a></li>
  <li role="presentation" class="active"><a href="#">文章</a></li>
  <li role="presentation"><a href="#">关于</a></li>
{% endblock %}

{% block content %}
  <div class="page-header">
	<h1> {{ article.title }}
      <br>
      <small>{{ article.create_time | format_time }}</small>
    </h1>
  </div>
  <div 
	<p> Category: {{ article.category.name }}</p>
	<p> {{ article.content }}</p>
	
{% endblock %}
